.movie_list{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 400;
}

.subtitle{
    text-align: center;
    border-bottom: 2px solid rgb(190, 190, 190);
    font-size: 24px;
    font-weight: 500;
}